body{
    background: #000000;
    height: 100%;
    width: 100%;
}

a{
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
}

h1,h2,h3,h4,h5,h6,p,a{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 16px;
    font-weight: 200;
}

.login-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #1D1D25;
    height: 90%;
    width: 40%;
    margin: 2.5% 30%;
    border-radius: 39px ;
}

.login-container{
    display: inline-block;
}

.login-header{
    width: 70%;
    margin-left: 10%;
}

.login-header h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 30px;
}

.login-form-input{
    width: 80%;
    margin: 30px 10%;
    border-radius: 20px;
    background: #FFFFFF;
    padding:10px 0 10px 0;
}

.login-form-input input{
    display: block;
    width: 80%;
    height: 50px;
    margin: auto 10%;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000000;
}
.forgot-flex{
    display: flex;
    align-items: center;
}

.forgot-flex input{
    flex-basis: 80%;
}

.forgot-flex a{
    flex-basis: 20%;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}


#hr-line{
    color:#DADADA;
}

.login-btn {
    background-color: #FAE02F;
    width: 80%;
    height: 60px;
    margin: auto 10%;
    border-radius: 20px;
    border: none;
}

#create-account{
    text-align: center;
    font-weight: 400;
    padding-top: 50px;
}

.social-login{
    margin: 20px 0 10px;
}
.social-login p{
    text-align: center;
}

.social-login-icons{
    display: flex;
    width: 100%;
    justify-content: center; 
}
.social-login-icons span{
    margin-left: 10px;
}

